html {
  font-size: 16px;
}

.reviewer-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
  max-height: 380px;
  overflow-y: auto;

  /* Webkit browsers (Chrome, Safari, newer versions of Opera) */
  &::-webkit-scrollbar {
    width: 5px; /* Make scrollbar thin */
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light grey track */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888; /* Grey scroll thumb */
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker grey on hover */
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: #7e6b0c;
}

.card-list .card-link .card-image {
  height: 60px;
  width: 60px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 16px;
}
.card-list .card-link .card-profile {
  color: #23c8a7;
  font-weight: 600;
}

.card-list .card-link .card-date {
  color: #7d8491;
  font-size: 12px;
}

.card-list .card-link .card-detail {
  display: flex;
  align-items: center;
}

.card-list .card-link .badge {
  color: #23c8a7;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 16px;
  background: #dffff9;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7d8491;
  font-weight: 400;
  padding-bottom: 24px;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #7e6b0c;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-slide-button {
  color: #7e6b0c;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
}
